@font-face {   
  font-family: 'Montserrat';    
  src: url('../assets/fonts/Montserrat-Regular.ttf');
}

@font-face {   
  font-family: 'MontserratSemiBold';    
  src: url('../assets/fonts/Montserrat-SemiBold.ttf');
}

ion-content.handy-help__bg {
    --ion-background-color:linear-gradient(180deg, #FFFFFF 20%, #E3E3E3 100%);
}

ion-content {
  font-family: var(--default-brand-font) !important;
}

:root {
 --default-brand-font: 'Montserrat';
--default-brand-bold-font: 'MontserratSemiBold';
}

.power-calculator__calculate {
  margin: 30px 0;
}

.centering-block {
  display: flex;
  justify-content: center;
}

.result-view {
  display: grid;
  grid-template-columns: 80% auto;
  background: #ddd;
  padding: 10px;
}
.result-value {
  text-align: right;
}

.result-label,
.result-value {
  border-bottom: #eee 1px solid;
  padding: 10px;
}

.null-style{
  border: 0;
}
.handy-help-logo {
  padding: 10px 0;
}
.handy-help-logo img{
  max-width: 70%;
}
.hero-image {
  text-align: center;
  margin: 30px 0;
}
.hero-image img{
  max-width: 80%;
}
.app-modules-container{
  margin: 20px;
}
.brand-button-black{
background: #282828;
padding: 20px;
width: 100%;
color: #fff;
border-radius: 5px;
font-family: var(--default-brand-bold-font);
letter-spacing: 1px;
}
.app-module {
  margin-bottom: 20px;
}