.handy-help__bg {
    /*background: linear-gradient(180deg, #FFFFFF 11.46%, rgba(255, 255, 255, 0) 100%);*/
    background: red !important;
}

ion-content{
    --ion-background-color:linear-gradient(180deg, #FFFFFF 20%, #E3E3E3 100%);;
}

.power-calculator__calculate {
  margin: 30px;
}

.centering-block {
  display: flex;
  justify-content: center;
}

.result-view {
  display: grid;
  grid-template-columns: 80% auto;
  background: #ddd;
  padding: 10px;
  border-bottom: #fff 2px solid;
}
.result-value {
  text-align: right;
}

.result-label,
.result-value {
  border-bottom: #eee 1px solid;
  padding: 10px;
}

.null-style{
  border: 0;
}
.handy-help-logo {
  text-align: center;
  padding: 20px
}
.handy-help-logo img{
  max-width: 70%;
}
.hero-image {
  text-align: center;
  margin-bottom: 30px;
}
.hero-image img{
  max-width: 80%;
}